SERVER_HOST_PORT=3000
SERVER_PORT=3000
SMOKE_SERVER_HOST=127.0.0.1
SMOKE_SERVER_PORT=3000

POSTGRES_HOST_PORT=5432
POSTGRES_DB=game_dev
POSTGRES_USER=game_user
POSTGRES_PASSWORD=game_pass
POSTGRES_EXPECTED_MIGRATION_VERSION=
POSTGRES_REQUIRE_MIGRATION_VERSION=false

QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334

NPC_BRAIN_HOST_PORT=8765
NPC_BRAIN_PORT=8765
NPC_BRAIN_QDRANT_URL=http://host.docker.internal:6333
NPC_BRAIN_PG_DSN=postgresql://game_user:game_pass@host.docker.internal:5432/game_dev
